// DARK MODE
$body__dark: #222831;
$header__dark: #1c2128;
$card__dark: #2c333d;
$card__title__dark: #e5efff;
$card__text__dark: #ffffff;
$card__nickname__dark: #e7e7e7;
$card__time__dark: #ffffff93;

// LIGHT MODE
$body__light: #ffffff;
$header__light: #f5f7fa;
$card__light: #f0f2f5;
$card__title__light: #202124;
$card__text__light: #5f6368;
